<nav class="navbar card-header navbar-primary navbar-fixed-top avbar-color-on-scroll fixed-top navbar-expand-lg">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu-example2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="col-md-2 col-sm-6 col-xs-8 nopadding-nav-bar">
        <a class="navbar-brand nomargin" href="javascript:void(0)"><img src="assets/images/skillocube_blanc.png"
            alt="logo"></a>

      </div>
    </div>
    <div class="collapse navbar-collapse" id="menu-example2">
      <ul class="nav navbar-nav navbar-right">
        <li class="mt-11">
          <a role="button" class="test btn btn-login" href="javascript:void(0)">
              <i style="color: orangered;" class="fas fa-ghost"></i> Offers
          </a>
        </li>
        <li class="mt-11">
          <a role="button" class="test btn btn-login" href="javascript:void(0)">
              <i style="color: orangered;" class="fas fa-ghost"></i> Login
          </a>
        </li>
        <li style="margin-top: 5px;">
          <a role="button" class="test btn btn-outline-register" href="javascript:void(0)">
              <i style="color: orangered;" class="fas fa-ghost"></i> Register
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
