<!-- Navigation -->
<app-menu></app-menu>

<div class="job-fair-image">
   <img src="../assets/halloween/2019.png" style="width:100%;height:100%;">
    </div>

 <!-- Sound -->
 <audio id="jingle_bell" src="http://ingenious-hub.com/Allhallows/music/creepy-background-daniel_simon.mp3" hidden controls autoplay loop>
  <p>Audio is not supported in your browser.</p>
</audio>
<div class="switch">
  <div class="sound_toggle_btn"><span class="fa fa-pause"></span></div>
</div>
 

<!-- ===== Start of Partner Section ===== -->
<section class="ptb50" id="partners">

  <div class="container ">
      <div  style="background-image: url('http://ingenious-hub.com/Allhallows/images/preloader1.png'); background-repeat: no-repeat; background-size: cover; background-position: center ; width:100%">

    <!-- Section Title -->
    <div class="section-title ">
      <h2>Find Your Next Opportunity</h2>
    </div>

    <div class="text-center pt20">
      Click on a company to discover its offers, or click on "See all offers"
    </div>
    <!-- Start of Owl Slider -->
    <div class="glide partner">
      <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides">
          <div class="glide__slide  ">
            <div class="partner-logo"><a
                routerLink="/companyOffers/fis--%28fidelity-information-services-%29-806150"><img
                  src="https://back.hire.fivepoints.fr/companies/LogoCompany/1570548885361.jpg"
                  alt="FIS  (Fidelity Information Services )"></a></div>
          </div>
          <div class="glide__slide  ">
            <div class="partner-logo"><a routerLink="/companyOffers/helpline-936477"><img
                  src="https://back.hire.fivepoints.fr/companies/LogoCompany/1570549013295.jpg" alt="Helpline"></a>
            </div>
          </div>
          <div class="glide__slide  ">
            <div class="partner-logo"><a routerLink="/companyOffers/linedata-955169"><img
                  src="https://back.hire.fivepoints.fr/companies/LogoCompany/1570549040968.jpg" alt="Linedata"></a>
            </div>
          </div>
          <div class="glide__slide  ">
            <div class="partner-logo"><a routerLink="/companyOffers/medianet-963836"><img
                  src="https://back.hire.fivepoints.fr/companies/LogoCompany/1570549091133.jpg" alt="Medianet"></a>
            </div>
          </div>
          <div class="glide__slide  ">
            <div class="partner-logo"><a routerLink="/companyOffers/proxym-it-970594"><img
                  src="https://back.hire.fivepoints.fr/companies/LogoCompany/1570549106531.jpg" alt="Proxym IT"></a>
            </div>
          </div>
          <div class="glide__slide  ">
            <div class="partner-logo"><a routerLink="/companyOffers/vermeg-solutions-016254"><img
                  src="https://back.hire.fivepoints.fr/companies/LogoCompany/1570549151395.jpg"
                  alt="VERMEG SOLUTIONS"></a></div>
          </div>
          <div class="glide__slide  ">
            <div class="partner-logo"><a routerLink="/companyOffers/wevioo-183274"><img
                  src="https://back.hire.fivepoints.fr/companies/LogoCompany/1570549265804.jpg" alt="Wevioo"></a>
            </div>
          </div>
          <div class="glide__slide">
            <div class="partner-logo"><a routerLink="/companyOffers/axe-finance-776064"><img
                  src="https://back.hire.fivepoints.fr/companies/LogoCompany/1570548964494.jpg" alt="Axe Finance"></a>
            </div>
          </div>
          <div class="glide__slide">
            <div class="partner-logo"><a routerLink="/companyOffers/expensya-tunisie-799032"><img
                  src="https://back.hire.fivepoints.fr/companies/LogoCompany/1570548983266.jpg"
                  alt="Expensya Tunisie"></a></div>
          </div>
          <div class="glide__slide">
            <div class="partner-logo"><a routerLink="/companyOffers/sagemcom-software-&-technologies-267982"><img
                  src="https://back.hire.fivepoints.fr/companies/LogoCompany/1570709988626.jpg"
                  alt="SAGEMCOM"></a></div>
          </div>
          <div class="glide__slide">
            <div class="partner-logo"><a routerLink="/companyOffers/ardia-266836"><img
                  src="https://back.hire.fivepoints.fr/companies/LogoCompany/1570709963413.jpg"
                  alt="Ardia"></a></div>
          </div>
           <div class="glide__slide">
            <div class="partner-logo"><a routerLink="/companyOffers/tritux-group-996038"><img
                  src="https://back.hire.fivepoints.fr/companies/LogoCompany/1571172218406.jpg"
                  alt="tritux"></a></div>
          </div>
           <div class="glide__slide">
            <div class="partner-logo"><a routerLink="/companyOffers/mantu-296032"><img
                  src="https://back.hire.fivepoints.fr/companies/LogoCompany/1571172232791.jpg"
                  alt="mantu"></a></div>
          </div>
           <div class="glide__slide">
            <div class="partner-logo"><a routerLink="/companyOffers/little-big-connection-447066"><img
                  src="https://back.hire.fivepoints.fr/companies/LogoCompany/1571172256061.jpg"
                  alt="little-big-connection"></a></div>
          </div>
           <div class="glide__slide">
            <div class="partner-logo"><a routerLink="/companyOffers/wimbeetech-266974"><img
                  src="https://back.hire.fivepoints.fr/companies/LogoCompany/1571664548360.jpg"
                  alt="wimbeetech"></a></div>
          </div>
          <div class="glide__slide">
            <div class="partner-logo"><a routerLink="/companyOffers/iga-tunisie-414872"><img
                  src="https://back.hire.fivepoints.fr/companies/LogoCompany/1571913212044.jpg"
                  alt="iga-tunisie"></a></div>
          </div>
           <div class="glide__slide">
            <div class="partner-logo"><a routerLink="/companyOffers/sdi-802861"><img
                  src="https://back.hire.fivepoints.fr/companies/LogoCompany/1572350906459.jpg"
                  alt="sdi"></a></div>
          </div>
           <div class="glide__slide">
            <div class="partner-logo"><a routerLink="/companyOffers/cimpress-tunisie-s.a.r.l-247791"><img
                  src="https://back.hire.fivepoints.fr/companies/LogoCompany/1572392553829.jpg"
                  alt="cimpress"></a></div>
          </div>
          <div class="glide__slide">
            <div class="partner-logo"><a routerLink="/companyOffers/numeryx-tunisie-495940"><img
                  src="https://back.hire.fivepoints.fr/companies/LogoCompany/1572392587342.jpg"
                  alt="numeryx"></a></div>
          </div>
           <div class="glide__slide">
            <div class="partner-logo"><a routerLink="/companyOffers/adp-562707"><img
                  src="https://back.hire.fivepoints.fr/companies/LogoCompany/1572456916768.jpg"
                  alt="adp"></a></div>
          </div>
           <div class="glide__slide">
            <div class="partner-logo"><a routerLink="/companyOffers/softparadigm-805127"><img
                  src="https://back.hire.fivepoints.fr/companies/LogoCompany/1572437619882.jpg"
                  alt="softparadigm"></a></div>
          </div>
           <div class="glide__slide">
            <div class="partner-logo"><a routerLink="/companyOffers/stmicroelectronics-928781"><img
                  src="https://back.hire.fivepoints.fr/companies/LogoCompany/1572457653030.jpg"
                  alt="stmicroelectronics"></a></div>
          </div>
        </ul>
      </div>

      <div data-glide-el="controls">
        <button class="slider__arrow slider__arrow--prev glide__arrow glide__arrow--prev" data-glide-dir="<">
          <img src="../assets/images/icons/left-arrow-white.svg" class="carousel-button" />
        </button>
        <button class="slider__arrow slider__arrow--next glide__arrow glide__arrow--next" data-glide-dir=">">
          <img src="../assets/images/icons/right-arrow-white.svg" class="carousel-button" />
        </button>
      </div>

    </div>
    <!-- End of Owl Slider -->


    <div>
      <button type="button" class="btn btn-outline-secondary btn-lg float-right offers-button">
        See all offers
      </button>
    </div>
  </div>
</div>
     
</section>
<!-- ===== End of Partner Section ===== -->

<app-footer></app-footer>

