.test {
  margin-left: 10%;
  margin-top: -20px;
}

.img-thumbnail {
  height: 150px !important;
}

.marginPartners {
  margin-top: 20px;
  text-align: center !important;
}

.user-photo {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  object-fit: cover;
  background-color: white;
}

.btn-dash {
  // padding: 10px 25px !important;
  font-weight: 500 !important;
  color: whitesmoke !important;
  background-color: transparent !important;
  background-image: none !important;
  font-weight: 500 !important;
  font-size: 12px !important;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.user .photo {
  color: white;
}

ng::deep .mat-chip.mat-standard-chip.mat-chip-disabled {
  opacity: 1;
  color: black !important;
  background-color: #e0e0e0 !important;
}

.dropdown-user {
  padding-top: 8px !important;
}

a,
a:focus,
a:hover {
  color: #29b2fe
}

p {
  line-height: 24px
}

h2,
h3,
h4,
h5 {
  font-family: 'Varela Round', sans-serif;
  margin: 0 !important
}

h2 {
  font-size: 38px !important
}

h3 {
  font-size: 30px
}

h4 {
  font-size: 24px
}

h5 {
  font-size: 20px
}

p {
  font-size: 16px;
  color: #666
}

body,
html {
  overflow-x: hidden !important;
  width: 100%;
  height: 100%
}

section {
  overflow-x: hidden !important;
  position: relative;
  background: #fff
}

.overlay-gradient:after,
.overlay-gradient:before {
  content: '';
  position: absolute;
  left: 0;
  display: block;
  top: 0;
  overflow: hidden
}

a {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease
}

a:focus,
a:hover,
a:visited {
  text-decoration: none !important;
  outline: 0 !important
}

a,
button,
input {
  outline: 0 !important
}

.form-control {
  width: 100%;
  padding: 10px 20px;
  color: #666;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  height: auto;
  box-shadow: none;
  -webkit-appearance: none
}

.overlay-gradient:after {
  width: 100%;
  height: 100%
}

.form-control:focus {
  outline: 0;
  box-shadow: none;
  border-color: #e3e3e3
}

::-webkit-input-placeholder {
  opacity: 1;
  color: #999
}

::-moz-placeholder {
  opacity: 1;
  color: #999
}

:-ms-input-placeholder {
  opacity: 1;
  color: #999
}

:-moz-placeholder {
  opacity: 1;
  color: #999
}

.uppercase {
  text-transform: uppercase
}

.capitalize,
.section-title {
  text-transform: capitalize
}

ul {
  margin: 0;
  list-style: none
}

img {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
}

.overlay-gradient:before {
  background: rgba(0, 0, 0, .4);
  width: 100%;
  height: 100%;
  z-index: 2
}

.overlay-gradient:after {
  background: -moz-linear-gradient(left, #29b2fe -20%, #443088 120%);
  background: -webkit-linear-gradient(left, #29b2fe -20%, #443088 120%);
  background: linear-gradient(to right, #29b2fe -20%, #443088 120%);
  z-index: 3;
  opacity: .4
}

.section-title h2:after {
  background: #29b1fd;
  content: '';
  display: block
}

.section-title {
  text-align: center;
  padding-bottom: 0px;
  margin: 0;
}

.btn {
  text-transform: uppercase
}

.section-title h2:after {
  width: 50px;
  height: 3px;
  margin: 20px auto 0
}

.nopadding {
  padding: 0 !important
}

.nomargin {
  margin: 0 !important
}

.mt10 {
  margin-top: 10px
}

.mt20 {
  margin-top: 20px
}

.mt40 {
  margin-top: 40px
}

.mt60 {
  margin-top: 60px
}

.mt80 {
  margin-top: 80px
}

.mtb10 {
  margin: 10px 0
}

.mtb30 {
  margin: 30px 0
}

.pt5 {
  padding-top: 5px
}

.pt10 {
  padding-top: 10px
}

.pt15 {
  padding-top: 15px
}

.pt20 {
  padding-top: 20px
}

.pt40 {
  padding-top: 40px
}

.ptb20 {
  padding: 20px 0
}

.ptb30 {
  padding: 30px 0
}

.ptb40 {
  padding: 40px 0
}

.ptb80 {
  padding: 80px 0
}

.btnx {
  padding: 0 15px !important;
}

.btn {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  outline: 0;

  position: relative;
  line-height: 35px;
  font-size: 14px;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease
}


.btn:focus {
  color: #f6f6f6
}

.btn:active {
  box-shadow: none !important
}

.btn-small {
  line-height: 25px
}

.btn-effect {
  overflow: hidden
}

.btn-blue {
  background: #29b1fd
}

.btn-blue:hover {
  background: #66c9ff
}

.btn-green {
  background: #2ecc71
}

.btn-green:hover {
  background: #4dd977
}

.btn-purple {
  background: #443088
}

.btn-purple:hover {
  background: #5c48a0
}

.btn-orange {
  background: #e69d29
}

.btn-orange:hover {
  background: #ecaf4f
}

.btn-red {
  background: #db6131
}

.btn-red:hover {
  background: #dc7f5a
}

[type=checkbox]:not(:checked) {
  position: absolute;
  left: -9999px
}

[type=checkbox]:not(:checked)+label {
  position: relative;
  padding-left: 25px;
  cursor: pointer
}

[type=checkbox]:not(:checked)+label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 1.25em;
  height: 1.25em;
  border: 2px solid #e3e3e3;
  background: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px
}

[type=checkbox]:not(:checked)+label:after {
  content: '✔';
  position: absolute;
  top: 0;
  left: 3px;
  font-size: 18px;
  line-height: 1;
  color: #29b1fd;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s
}

[type=checkbox]:not(:checked)+label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0)
}

.social-btn-roll:hover .social-btn-roll-icons {
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%)
}

.social-btn-roll {
  width: 35px;
  height: 35px;
  border: 1px solid #3b5998;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  display: block;
  -webkit-transition: background .3s ease;
  -moz-transition: background .3s ease;
  -ms-transition: background .3s ease;
  -o-transition: background .3s ease;
  transition: background .3s ease
}

.social-btn-roll:hover .social-btn-roll-icons {
  transform: translateX(-50%)
}

.social-btn-roll:hover .social-btn-roll-icon {
  color: #f6f6f6
}

.social-btn-roll-icons {
  width: 200%;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease
}

.social-btn-roll-icon {
  width: 50%;
  line-height: 35px;
  text-align: center;
  display: block;
  float: left;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s
}

.social-btn-roll.facebook {
  border-color: #3b5998;
  color: #3b5998
}

.social-btn-roll.facebook:hover {
  background: #3b5998
}

.social-btn-roll.twitter {
  border-color: #4cc4f2;
  color: #4cc4f2
}

.social-btn-roll.twitter:hover {
  background: #4cc4f2
}

.social-btn-roll.google-plus {
  border-color: #dd4b39;
  color: #dd4b39
}

.social-btn-roll.google-plus:hover {
  background: #dd4b39
}

.social-btn-roll.instagram {
  border-color: #9b6954;
  color: #9b6954
}

.social-btn-roll.instagram:hover {
  background: #9b6954
}

.social-btn-roll.linkedin {
  border-color: #0077b5;
  color: #0077b5
}

.social-btn-roll.linkedin:hover {
  background: #0077b5
}

.social-btn-roll.rss {
  border-color: orange;
  color: orange
}

.social-btn-roll.rss:hover {
  background: orange
}

form.mailchimp label {
  -webkit-transition: all .6s ease;
  -moz-transition: all .6s ease;
  -ms-transition: all .6s ease;
  -o-transition: all .6s ease
}

form.mailchimp label {
  position: fixed;
  left: 0;
  bottom: -50px;
  width: 100%;
  color: #f6f6f6;
  text-align: center;
  padding: 15px 0;
  margin: 0;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: all .6s ease;
  -webkit-transform: translateZ(0)
}



-post-wrapper .single-job-post {
  -webkit-transition: all .6s ease;
  -moz-transition: all .6s ease;
  -ms-transition: all .6s ease;
  -o-transition: all .6s ease
}

.job-post-wrapper .single-job-post .job-title a {
  font-family: 'Varela Round', sans-serif
}

.partner .owl-item.active.center,
section#signup-video .video-sec a {
  -moz-transition: all .8s ease;
  -ms-transition: all .8s ease;
  -o-transition: all .8s ease
}

section#signup-video {
  overflow: hidden
}

section#signup-video .signup-sec {
  background: #29b2fe
}

section#signup-video .signup-sec h2:after {
  background: #fff
}

section#signup-video .signup-sec img.signup-arrow {
  position: absolute;
  width: 65px;
  right: 15%;
  bottom: 10px
}

section#signup-video .signup-sec img.signup-icon {
  position: absolute;
  width: 300px;
  left: -10%;
  bottom: -20%
}

section#signup-video .video-sec {
  background: url(../assets/images/video.jpg) center center no-repeat;
  background-size: cover
}

section#signup-video .video-sec a {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all .8s ease;
  transition: all .8s ease;
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: block;
  background: 0 0;
  border: 7px solid #fff;
  margin: 0 auto;
  text-align: center;
  z-index: 5;
  opacity: .6
}

section#signup-video .video-sec a:hover {
  -webkit-transform: translateY(-50%) scale(.85);
  -moz-transform: translateY(-50%) scale(.85);
  -ms-transform: translateY(-50%) scale(.85);
  -o-transform: translateY(-50%) scale(.85);
  transform: translateY(-50%) scale(.85);
  background: rgba(255, 255, 255, .2);
  opacity: .8
}

section#signup-video .video-sec a:hover:after,
section#signup-video .video-sec a:hover:before {
  content: '';
  position: absolute;
  height: 100%;
  opacity: 0;
  width: 100%;
  display: block
}

section#signup-video .video-sec a:hover:before {
  border: 2px solid #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  animation: playButton .8s linear
}

section#signup-video .video-sec a:hover:after {
  top: 0;
  border: 1px solid #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  animation: playButton .8s linear .4s
}

@keyframes playButton {
  50% {
    opacity: .6
  }

  100% {
    -webkit-transform: scale(2.5);
    -moz-transform: scale(2.5);
    -o-transform: scale(2.5);
    -ms-transform: scale(2.5);
    transform: scale(2.5);
    opacity: 0
  }
}

section#signup-video .video-sec a i {
  font-size: 42px;
  width: 100%;
  text-align: center;
  line-height: 85px;
  color: #fff
}

.job-post-main h2 i,
.job-post-sidebar h2 i {
  padding-right: 10px
}

.job-post-wrapper .single-job-post {
  background: #fff;
  border-top: 1px solid #e3e3e3;
  border-left: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
  padding: 30px;
  transition: all .6s ease
}

.job-post-wrapper .single-job-post:first-child {
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0
}

.job-post-wrapper .single-job-post:last-child {
  border-bottom: 1px solid #e3e3e3;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px
}

.job-post-wrapper .single-job-post:hover {
  background: #f6f6f6
}

.job-post-wrapper .single-job-post .job-company {
  width: 85px;
  height: 85px;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: #f0f0f0;
  padding: 20px;
  -webkit-transition: all .6s ease;
  -moz-transition: all .6s ease;
  -ms-transition: all .6s ease;
  -o-transition: all .6s ease;
  transition: all .6s ease
}

.partner .owl-item {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease
}

.job-post-wrapper .single-job-post .job-company:hover {
  padding: 15px
}

.job-post-wrapper .single-job-post .job-info,
.job-post-wrapper .single-job-post .job-title {
  padding-left: 20px
}

.job-post-wrapper .single-job-post .job-title a {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  color: #333
}

.job-post-wrapper .single-job-post .job-title a:hover {
  color: #29b2fe
}

.job-post-wrapper .single-job-post .job-info {
  color: #666;
  text-transform: capitalize
}

.job-post-wrapper .single-job-post .job-info i {
  padding-right: 5px
}

.job-post-wrapper .single-job-post .job-info span.location {
  margin-left: 5px
}

.job-post-wrapper .single-job-post .job-category {
  float: right
}

ul.pagination {
  display: block;
  padding: 0;
  margin: 50px 0 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0
}

ul.pagination li a {
  font-size: 16px;
  color: #f6f6f6;
  background: #29b1fd;
  border: 2px solid #29b1fd;
  padding: 7px 14px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  float: none
}

ul.pagination li a:focus,
ul.pagination li a:hover {
  background: 0 0;
  color: #29b1fd;
  border-color: #29b1fd
}

ul.pagination li.active a {
  background: 0 0;
  border: 2px solid #29b1fd;
  color: #29b1fd
}

ul.pagination li.active a:focus,
ul.pagination li.active a:hover {
  background: 0 0;
  color: #29b1fd;
  border-color: #29b1fd
}

.widget {
  border: 1px solid #e3e3e3
}

.featured-job.widget {
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0
}

.featured-job .company {
  background: #f0f0f0;
  padding: 70px 0;
  border-bottom: 1px solid #e3e3e3
}

.featured-job .company img {
  width: 85%;
  margin: 0 auto;
  display: block
}

.featured-job-info {
  padding: 30px 20px
}

.featured-job-info .job-title {
  overflow: hidden
}

.featured-job-info .job-title h5 {
  line-height: 27px
}

.featured-job-info .job-info {
  color: #666;
  text-transform: capitalize
}

.featured-job-info .job-info i {
  padding-right: 5px
}

.featured-job-info .job-info span#location {
  margin-left: 5px
}

.upload-resume {
  padding: 30px 20px;
  background: #f0f0f0
}

.mt5 {
  margin: 10px !important;
}

h6 {
  font-size: 18px !important;
  font-weight: 300 !important;
}

.upload-resume p {
  color: #999
}

section#partners .section-title h2:after {
  background: rgb(0, 0, 0);
  margin: 10px auto 0;
}

.partner .tns-ovh {
  padding-top: 25px
}

.glide__slide {
  -webkit-transform: scale(.8);
  -moz-transform: scale(.8);
  -ms-transform: scale(.8);
  -o-transform: scale(.8);
  transform: scale(.8);
  opacity: .7;
  transition: all .2s ease;
  margin-top: 60px !important;
}

.glide__slide--active {
  margin-top: 60px !important;
  -webkit-transform: none !important;
  -moz-transform: none !important;
  -ms-transform: none !important;
  -o-transform: none !important;
  transform: none !important;
  opacity: 1 !important;
  z-index: 50 !important;
  -webkit-transition: all .8s ease !important;
  transition: all .8s ease !important;
}

.partner .glide__slide {
  text-align: center !important;
  color: #f6f6f6
}

.partner .partner-logo a {
  vertical-align: middle;
  height: 150px;
  display: inline-flex;
}

.partner .partner-logo img {
  object-fit: contain;
  width: 100%;
  background-color: #fff;
  border: 3px solid #fff;
  // -webkit-border-radius: 50%;
  // -moz-border-radius: 50%;
  // border-radius: 50%;
  margin: 0 auto;
}

.counter-box {
  width: 100%;
  background: transparent;
  padding: 25px 20px 12px 20px;
  border-radius: 4px;
  text-align: center;
  //border: 1px solid #007bff;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, .10);
  transition: all 1s ease;

  &:hover {
    transform: scale(1.09);
  }

  .counter {
    text-align: center;
    color: whitesmoke;
    margin-bottom: 15px;
    font-weight: bold;
  }

  h4 {
    color: whitesmoke;
    font-weight: 300;
  }

  i {
    display: block;
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
    color: #007bff;
  }
}


.close-icon {
  font-size: 32px !important;

}

.backdrop {

  background-color: rgba(0, 0, 0, 0.6);

  position: fixed;

  top: 0;

  left: 0;

  width: 100%;

  height: 100vh;

}

.extraLight {
  font-weight: 300 !important;
}

.lighter {
  font-weight: 400 !important;
}

.modal-title {

  margin-left: 40px !important;
}

.modal.fade .modal-dialog {
  background: transparent !important;
  -webkit-transform: translate(0) !important;
  -moz-transform: translate(0) !important;
  transform: translate(0) !important;
}



.nav-pills:not(.nav-pills-icons)>li>a {
  border-radius: 4px !important;
}

.btn-login {
  padding: 10px 25px !important;
  font-weight: 500 !important;
  color: whitesmoke !important;
  background-color: transparent !important;
  background-image: none !important;
}

.btn-login:hover {
  color: #fff !important;
  background-color: #007bff70 !important;
  border-color: #007bff !important;
}

.btn-outline-register {
  color: #007bff !important;
  background-color: transparent !important;
  background-image: none !important;
  font-weight: 500 !important;
  border-color: #007bff !important;
  border: 1px solid !important;
  padding: 10px 25px !important;
}

.btn-outline-register:hover {
  color: #fff !important;
  background-color: #007bff !important;
  border-color: #007bff !important;
  //border:1px solid !important
}

.offers-button {
  color: #1c2b3b !important;
  transition: 0.3s ease-in !important;
}

.offers-button:hover {
  // color: #1c2b3b !important;
  // background-color: #fff !important;
  // opacity: 0.4;
  // border-color: #1c2b3b !important;
  //border:1px solid !important
}


.btn-link {
  font-size: 12px !important;
  line-height: 50px !important;
  text-decoration: underline !important;
  color: whitesmoke !important;
}

.btn-link:hover {
  font-size: 14px !important;
  -moz-transition: font-size 0.3s;
  font-weight: 400 !important;
  -webkit-transition: font-size 0.3s;
  /* Safari */
  transition: font-size 0.3s;
  line-height: 50px !important;
  text-decoration: underline !important;
  color: whitesmoke !important;
}

.landingBtn:hover {
  color: white !important;
}

.landingBtn {
  color: #007bff !important;
  border-radius: 6px !important;
  font-size: 14px !important;
  line-height: 44px !important;
  //text-align: left;
  max-width: 250px;
  width: 70% !important;
  //color:whitesmoke !important;
  font-weight: 600 !important;
}

.btn {
  box-shadow: none !important;
}


.btnregister {
  font-size: 1rem !important;
}

.buttonRegister {
  border-radius: 6px !important;
  background-color: #0000005e !important;
  border: 1px solid !important;
  border-color: #03A9F4 !important;
  color: white !important;
  // text-align: center;
  font-size: 20px !important;
  padding: 0px !important;
  width: 223px !important;
  height: 276px !important;
  transition: all 1s !important;
  cursor: pointer !important;
  margin: 5px !important;

}

.buttonRegister span {

  display: inline-block !important;
  position: relative !important;
  transition: 0.5s !important;
  margin-bottom: 195px !important;
}

.buttonRegister span:after {

  position: absolute !important;
  opacity: 0 !important;
  top: 0 !important;
  right: -20px !important;
  transition: 0.5s !important;
}

.buttonRegister:hover span {
  padding-right: 25px !important;
}

.buttonRegister:hover span:after {
  opacity: 1 !important;
  right: 0 !important;
}

.clear-M {
  margin-bottom: 10%;
}

.clear {
  margin-bottom: 5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway';
}

p {
  line-height: 1.75;
}

.text-faded {
  color: white !important;
}

.site-heading {
  margin-top: 5rem;
  margin-bottom: 5rem;
  text-transform: uppercase;
  line-height: 1;
  font-family: 'Raleway';
}

.site-heading .site-heading-upper {
  display: block;
  font-size: 2rem;
  font-weight: 800;
}

.site-heading .site-heading-lower {
  font-size: 5rem;
  font-weight: 100;
  line-height: 4rem;
}

.page-section {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.section-heading {
  text-transform: uppercase;
}




.section-heading .section-heading-upper {
  display: block;
  font-size: 1rem;
  font-weight: 600;
}

.section-heading .section-heading-lower {
  display: block;
  font-size: 3rem;
  font-weight: 100;
}

.bg-faded {
  background-color: rgba(255, 255, 255, 0.85);
}

.btn-xl {
  font-weight: 700;
  font-size: 0.8rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.intro {
  position: relative;
}

@media (min-width: 992px) {
  .intro .intro-img {
    width: 75%;
    float: right;
  }

  .intro .intro-text {
    left: 0;
    width: 60%;
    margin-top: 3rem;
    position: absolute;
  }

  .intro .intro-text .intro-button {
    width: 100%;
    left: 0;
    position: absolute;
    bottom: -2rem;
  }
}

@media (min-width: 1200px) {
  .intro .intro-text {
    width: 45%;
  }
}

.cta {
  padding-top: 5rem;
  padding-bottom: 5rem;

  background: url('./../assets/images/adult.jpg') no-repeat center fixed;
  -webkit-background-size: cover;
  /* pour anciens Chrome et Safari */
  background-size: cover;

}

.cta .cta-inner {
  position: relative;
  padding: 3rem;
  margin: 0.5rem;
  background-color: rgba(255, 255, 255, 0.62);
}

.cta .cta-inner:before {
  border-radius: 0.5rem;
  content: '';
  position: absolute;
  top: -0.5rem;
  bottom: -0.5rem;
  left: -0.5rem;
  right: -0.5rem;
  border: 0.25rem solid rgba(255, 255, 255, 0.62);
}

@media (min-width: 992px) {
  .about-heading .about-heading-img {
    position: relative;
    z-index: 0;
  }

  .about-heading .about-heading-content {
    margin-top: -5rem;
    position: relative;
    z-index: 1;
  }
}

@media (min-width: 992px) {
  .product-item .product-item-title {
    position: relative;
    z-index: 1;
    margin-bottom: -3rem;
  }

  .product-item .product-item-img {
    position: relative;
    z-index: 0;
    max-width: 60vw;
  }

  .product-item .product-item-description {
    position: relative;
    z-index: 1;
    margin-top: -3rem;
    max-width: 50vw;
  }
}

.list-hours {
  font-size: 0.9rem;
}

.list-hours .list-hours-item {
  border-bottom: 1px solid rgba(230, 167, 86, 0.5);
  padding-bottom: .25rem;
  margin-bottom: 1rem;
  font-style: italic;
}

.list-hours .list-hours-item.today {
  font-weight: bold;
  color: #e6a756;
}

@media (min-width: 992px) {
  .list-hours {
    width: 50%;
    font-size: 1.1rem;
  }
}

.address strong {
  font-size: 1.2rem;
}

.text-primary {
  color: #000000 !important;
}

.bg-primary {
  background-color: #e6a756 !important;
}

/*
.btn {
  -webkit-box-shadow: 0px 3px 3px 0px rgba(33, 37, 41, 0.1);
  box-shadow: 0px 3px 3px 0px rgba(33, 37, 41, 0.1);
}
*/
.btn-primary {
  background-color: #151515e8;
  border-color: black;
}


.font-weight-light {
  font-weight: 100 !important;
}

.head {

  -webkit-background-size: cover;
  /* pour anciens Chrome et Safari */
  background-size: cover;
  background-image: url('./../assets/achievement.jpg');
  width: 100%;
  height: 500px;


}

.text-head {
  margin-top: 100px;
  color: white !important;
}

/*!
 * Start Bootstrap - Creative v5.0.1 (https://startbootstrap.com/template-overviews/creative)
 * Copyright 2013-2018 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-creative/blob/master/LICENSE)
 */
body {
  overflow-x: hidden !important;
  font-family: Merriweather, 'Helvetica Neue', Arial, sans-serif
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #f05f40
}

hr.light {
  border-color: #fff
}

a {
  color: #f05f40;
  -webkit-transition: all .2s;
  transition: all .2s
}

a:hover {
  color: #f05f40
}
h1,h4,h5{color: white;}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif
}

.bg-primary {
  background-color: #f05f40 !important
}

.bg-dark {
  background-color: #212529 !important
}

.text-faded {
  color: rgba(255, 255, 255, .7)
}

.section-heading {
  margin-top: 10px
}

::-moz-selection {
  color: #fff;
  background: #212529;
  text-shadow: none
}

::selection {
  color: #fff;
  background: #212529;
  text-shadow: none
}

img::-moz-selection {
  color: #fff;
  background: 0 0
}

img::selection {
  color: #fff;
  background: 0 0
}

img::-moz-selection {
  color: #fff;
  background: 0 0
}

#mainNav {
  border-bottom: 1px solid #03a9f459;
  background-color: #000000d4 !important;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all .2s;
  transition: all .2s
}

#mainNav .navbar-brand {
  font-weight: 700;
  text-transform: uppercase;
  color: #f05f40;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif
}

#mainNav .navbar-brand:focus,
#mainNav .navbar-brand:hover {
  color: #f05f40
}

#mainNav .navbar-nav>li.nav-item>a.nav-link,
#mainNav .navbar-nav>li.nav-item>a.nav-link:focus {
  font-size: 1.4rem;
  font-weight: 100;
  text-transform: uppercase;
  color: #212529
}

/*
#mainNav .navbar-nav>li.nav-item>a.nav-link:focus:hover,#mainNav .navbar-nav>li.nav-item>a.nav-link:hover{
  color:#f05f40
}
#mainNav .navbar-nav>li.nav-item>a.nav-link.active,#mainNav .navbar-nav>li.nav-item>a.nav-link:focus.active{
  color:#f05f40!important;
  background-color:transparent
}
#mainNav .navbar-nav>li.nav-item>a.nav-link.active:hover,#mainNav .navbar-nav>li.nav-item>a.nav-link:focus.active:hover{
  background-color:transparent
}*/
@media (min-width:992px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent
  }

  #mainNav .navbar-brand {
    color: rgba(255, 255, 255, .7)
  }

  #mainNav .navbar-brand:focus,
  #mainNav .navbar-brand:hover {
    color: #fff
  }

  #mainNav .navbar-nav>li.nav-item>a.nav-link {
    padding: .5rem 1rem
  }

  #mainNav .navbar-nav>li.nav-item>a.nav-link,
  #mainNav .navbar-nav>li.nav-item>a.nav-link:focus {
    color: rgba(255, 255, 255, .7)
  }

  #mainNav .navbar-nav>li.nav-item>a.nav-link:focus:hover,
  #mainNav .navbar-nav>li.nav-item>a.nav-link:hover {
    color: #fff
  }

  #mainNav.navbar-shrink {
    border-bottom: 1px solid rgba(33, 37, 41, .1);
    background-color: #fff
  }

  #mainNav.navbar-shrink .navbar-brand {
    color: #f05f40
  }

  #mainNav.navbar-shrink .navbar-brand:focus,
  #mainNav.navbar-shrink .navbar-brand:hover {
    color: #f05f40
  }

  #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link,
  #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:focus {
    color: #212529
  }

  #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:focus:hover,
  #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:hover {
    color: #f05f40
  }
}


.service-box {
  max-width: 400px
}

.portfolio-box {
  position: relative;
  display: block;
  max-width: 650px;
  margin: 0 auto
}

.portfolio-box .portfolio-box-caption {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
  color: #fff;
  background: rgba(240, 95, 64, .9);
  -webkit-transition: all .2s;
  transition: all .2s
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
  position: absolute;
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  padding: 0 15px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-size: 18px
}

.portfolio-box:hover .portfolio-box-caption {
  opacity: 1
}

.portfolio-box:focus {
  outline: 0
}

@media (min-width:768px) {
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 16px
  }

  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 22px
  }
}

.text-primary {
  color: #4083f0 !important
}

.btn {
  font-weight: 700;
  text-transform: uppercase;

  border-radius: 300px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif
}

.btn-xl {
  padding: 1rem 2rem
}

.btn-up {
  background-color: #1383eca6;
  -moz-border-radius: 28px;
  -webkit-border-radius: 28px;
  border-radius: 28px;
  border: 1px solid #0885ebf8 !important;
  width: 300px !important;

  color: #ffffff;

  .btn-up:hover {
    background-color: #069ad4cc !important;
  }

  .btn-up:active {
    background-color: #069ad4cc !important;
    position: relative;
    top: 1px;
  }


}


@import "../assets/profile/css/style.css";
@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";

.material-icons {
  font-size: 16px;
}

.job-logo {
  width: 90px;
  height: 90px;
  border: 1px solid #e3e3e3;
  border-radius: 2px;
  background: #f0f0f0;
  padding: 3px;
}

.job-logo>a>img {
  width: 100%;
}

.particles-offers {
  width: 100%;
  // top: 0;
  // position: 'fixed';
}

.mat-chip.mat-standard-chip {
  background-color: #f1f1f1 !important;
  color: rgb(99, 99, 99) !important;
}

.job-post-main {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.featured-job .company {
  background: #f0f0f0;
  padding: 0px 0 !important;
  border-bottom: 1px solid #e3e3e3;
}

@media (min-width: 992px) {
  .job-post-sidebar {
    position: sticky;
    top: 60px;
    z-index: 10;
    background-color: white;
  }
}

.btn-blue {
  background: #29b1fd;
  font-weight: 400;
}

.featured-job-info {
  padding: 10px 20px !important;
}

.form-control,
.form-group .form-control {
  background-image: linear-gradient(#039be5, #039be5), linear-gradient(unquote('#d2d2d200'), unquote('#d2d2d200')) !important;

}

.btn,
.btn.btn-default,
.navbar .navbar-nav>li>a.btn,
.navbar .navbar-nav>li>a.btn.btn-default {
  box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0), 0 3px 1px -2px rgba(153, 153, 153, 0), 0 1px 5px 0 rgba(153, 153, 153, 0);
}

.job-post-sidebar-golden {
  // position: sticky;
  // bottom: 0;
}

.company-logo-featured {
  height: 100px;
  width: 100px !important;
  // margin: 0 auto;
  // display: block;
  // padding-left: 30px;
  // padding-right: 30px;
}

.detail-btn {

  font-size: 14px;
}

.time {
  color: #999;
  font-size: 12px;
  letter-spacing: 0;
}

.job-post-wrapper .single-job-post .job-info {
  color: #666;
  text-transform: capitalize;
  padding-top: 2px !important;
}

.contact-btn {
  font-size: 12px;
  background: transparent;
  border-color: #29b1fd;
  border: 1px solid #29b1fd;
  color: #29b1fd !important;
}

@media (min-width: 1200px) {
  .container-large {
    width: 1470px !important;
  }
}

.featured-job .company {
  background: #ffffff !important;
  padding: 10px 0;
  border-bottom: 1px solid #e3e3e3;
}

.job-logo>a>img {
  width: 100%;
  border-radius: 50px !important;
}

.job-logo {
  width: 90px;
  height: 90px;
  border: 1px solid #e3e3e3;
  border-radius: 50px;
  background: #ffffff !important;
  padding: 3px;

}

.job-post-wrapper .single-job-post {
  border-radius: 5px;
  margin: 5px !important;
}

ng::deep .swal2-popup .swal2-styled:focus {
  outline: 0;
  box-shadow: 0 0 0 0px, 0 0 0 0px;
}

.login-forms {
  width: 100% !important;
}

.icon-group {
  border: 0;
  background: transparent;
  padding: 20px 9px 16px;
}

.links {
  color: #007bff !important;
}


.slider__arrow {
  position: absolute;
  top: 50%;
  z-index: 1;
  width: 24px;
  height: 24px;
  margin-top: 12px;
  border-width: 0;
  background: transparent;
}

.slider__arrow--next {
  right: -5rem;
}

.slider__arrow--prev {
  left: -5rem;
}

.slider--big .slider__arrows {
  position: absolute;
  z-index: 2;
  bottom: 36px;
  width: 100%
}

@media (min-width:42.5em) {
  .slider--big .slider__arrows {
    position: static
  }
}

.slider--big .slider__arrow {
  width: 46px;
  height: 46px;
  margin-top: -30px
}

@media (max-width:42.4375em) {
  .slider--big .slider__arrow {
    position: static
  }
}

.slider--big .slider__arrow--next {
  right: 3rem
}

.slider--big .slider__arrow--prev {
  left: 3rem
}


.carousel-button {
  width: 18px;
  height: 18px;
  transition: all 0.3s ease-in-out;
}

.carousel-button:hover {
  transform: scale(1.5);
}

.job-fair-image {
 
  padding-top: 2%;
  
}
